.compA{
    background-color: rgb(44, 31, 226);
    padding: 5px;
    margin: 8px;
}
.compB{
    background-color: aqua;
    padding: 5px;
    margin: 8px;
}
.compC{
    background-color: rgb(228, 4, 34);
    padding: 5px;
    margin: 8px;
}